<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xml:lang="fr-FR">
    <id>Afsy - avent {{ year }}</id>
    <title>Calendrier de l'avent de l'Afsy {{ year }}</title>
    <link type="text/html" rel="alternate" href="http://www.afsy.fr/avent/{{ year }}"/>
    <updated>{{ 'now'|date('c') }}</updated>

    {% for slug, template in days %}
    <entry>
        <id>{{ path('avent_day', {year: year, slug: slug}) }}</id>
        <published>{{ "now"|date(DATE_ATOM) }}</published>
        <link type="text/html" rel="alternate" href="{{ path('avent_day', {year: year, slug: slug}) }}"/>
        <title>{{ template.renderBlock('article_title', {}) }}</title>
        <author>
            <name>{{ template.renderBlock('article_author', {}) }}</name>
            <uri>{{ template.renderBlock('author_url', {}) }}</uri>
        </author>
        <content type="html">
            {{ template.renderBlock('article_content', {}) }}

            {{ template.renderBlock('article_bio', {}) }}
        </content>
    </entry>
    {% endfor %}

</feed>
