{% extends 'AfsyFrontBundle::layout.html.twig' %}

{% set header_expanded = false %}

{% block page_title %}
    {{- "- calendrier de l'avent " ~ year -}}
{% endblock %}

{% set header_extra %}
    <section class="presentation">
        <div class="container row">
            <h3>Calendrier de l'avent de l'Afsy {{ year }}</h3>
        </div>
    </section>
{% endset %}

{% block body %}
    {% set day = 0 %}
    {% for slug, template in days %}
        <div class="avent-author-block">
            <div class="avatar">
                {{ template.renderBlock('article_avatar', {}) }}
            </div>
            <div class="content">
                <h2><a href="{{ path('avent_day', {year: year, slug: slug}) }}">{{ template.renderBlock('article_title', {}) }}</a></h2>
                <p>Écrit par <a href="{{ template.renderBlock('article_url', {}) }}">{{ template.renderBlock('article_author', {}) }}</a></p>
            </div>
        </div>
        {% set day = day + 1 %}
    {% endfor %}
    {% if day < 24 %}
        <div class="avent-author-block">
            <div class="content-hero">
                <em>Encore {{ 24 - day }} article{{ day < 23 ? 's' :'' }} à venir, revenez demain !</em>
            </div>
        </div>
    {% endif %}
{% endblock %}

