{% extends 'layout.html.twig' %}

{% block atom_feed %}
    <link rel="alternate" type="application/atom+xml" title="AFSY - tous les articles" href="{{ url('feed_atom') }}"/>
    <link rel="alternate" type="application/atom+xml" title="AFSY - calendrier de l'avent {{ year }}" href="{{ url('avent_feed_atom', { year: year}) }}"/>
{% endblock %}

{% set header_expanded = false %}

{% block page_title %}
    {{- "- calendrier de l'avent " ~ year -}}
{% endblock %}

{% set header_extra %}
    <section class="presentation">
        <div class="container row">
            <h3>Calendrier de l'avent de l'Afsy {{ year }}</h3>
        </div>
    </section>

    {% include('Avent/_snow.html.twig') %}
{% endset %}

{% block body %}
    {% set day = 0 %}
    {% set total_day = days|length %}

    {% for slug, template in days %}
        <div class="avent-author-block">
            <div class="date">
                <a href="{{ path('avent_day', {year: year, slug: slug}) }}">
                    {% with {'day': total_day, 'year': year} %}
                        {{ block('article_date', template) }}
                    {% endwith %}
                </a>
            </div>

            <div class="avatar">
                {{ block('article_avatar', template) }}
            </div>

            <div class="content">
                <h2><a href="{{ path('avent_day', {year: year, slug: slug}) }}">{{ block('article_title', template) }}</a></h2>

                <p>Écrit par <a href="{{ block('author_url', template) }}">{{ block('article_author', template) }}</a></p>

                <div class="extract">
                    {{ block('article_content', template) | afsy_extract | raw }}
                </div>
            </div>
        </div>
        {% set day = day + 1 %}
        {% set total_day = total_day - 1 %}
    {% endfor %}
    {% if day < 24 %}
        <div class="avent-author-block">
            <div class="content-hero">
                <em>Encore {{ 24 - day }} article{{ day < 23 ? 's' :'' }} à venir, revenez demain !</em>
            </div>
        </div>
    {% endif %}
{% endblock %}
