<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xml:lang="fr-FR">
    <id>{{ url('avent', {year: year}) }}</id>
    <title>Calendrier de l'avent de l'Afsy {{ year }}</title>
    <link type="text/html" rel="alternate" href="{{ url('avent', {year: year}) }}"/>
    <link type="application/rss+xml" rel="self" href="{{ url('avent_feed_atom', {year: year}) }}"/>
    <updated>{{ 'now'|date('c') }}</updated>

    {% set day = 0 %}
    {% set total_day = days|length %}

    {% for slug, template in days %}

    <entry>
        <id>{{ url('avent_day', {year: year, slug: slug}) }}</id>
        <published>{{ (total_day ~ '-12-' ~ year)|date('c') }}</published>
        <updated>{{ (total_day ~ '-12-' ~ year)|date('c') }}</updated>
        <link type="text/html" rel="alternate" href="{{ url('avent_day', {year: year, slug: slug}) }}"/>
        <title>{{ block('article_title', template) }}</title>
        <author>
            <name>{{ block('article_author', template) }}</name>
            <uri>{{ block('author_url', template) }}</uri>
        </author>
        <content type="html"><![CDATA[
            {{ block('article_content', template) }}

            {{ block('article_bio', template) }}
        ]]></content>

        {% set day = day + 1 %}
        {% set total_day = total_day - 1 %}
    </entry>

    {% endfor %}

</feed>
