{% extends 'layout.html.twig' %}

{% block page_title %}
{% if tag is defined %}
    {{- '- tous les articles parlant de "' ~ tag.name ~ '"' -}}
{% else %}
    {{- '- tous les articles' -}}
{% endif %}
{% endblock %}

{% block body %}
    {% set future = 0 %}
    {% set past = 0 %}

    {% for article in pagination %}
        {% if future == 0 and not article.eventStarted %}
            {% set future = 1 %}
            <h4 class="event museo"><i class="icon-calendar-white"></i>
                {% if tag is defined %}
                    Prochains événements au sujet de "{{ tag.name }}"
                {% else %}
                    Prochains événements
                {% endif %}
            </h4>
        {% endif %}

        {% if past == 0 and article.eventStarted %}
            {% set past = 1 %}
            <h4 class="event museo"><i class="icon-calendar-white"></i>
                {% if tag is defined %}
                    Événements passés au sujet de "{{ tag.name }}"
                {% else %}
                    Événements passés
                {% endif %}
            </h4>
        {% endif %}

        {{ include('blog/_article.html.twig') }}
    {% else %}
        <p class="text-error">Il n'y a aucun article.</p>
    {% endfor %}

    {{ knp_pagination_render(pagination) }}
{% endblock %}
