<footer>
    <div class="container">
        <ul class="members large-block-grid-6 text-center">
            <li>
                <div class="picture">
                    <span></span>
                    <img src="{{ asset('bundles/afsyfront/images/members/fabrice_bernhard_nb.jpg') }}" alt="Fabrice Bernhard (Theodo)" width="90" height="120">
                </div>
                <h6>Fabrice Bernhard</h6>
                <p>Theodo</p>
                <p><a href="https://twitter.com/fabriceb">@fabriceb</a></p>
            </li>
            <li>
                <div class="picture">
                    <span></span>
                    <img src="{{ asset('bundles/afsyfront/images/members/hugo_hamon_nb.jpg') }}" alt="Hugo Hamon (SensioLabs)" width="90" height="120">
                </div>
                <h6>Hugo Hamon</h6>
                <p>SensioLabs</p>
                <p><a href="https://twitter.com/hhamon">@hhamon</a></p>
            </li>
            <li>
                <div class="picture">
                    <span></span>
                    <img src="{{ asset('bundles/afsyfront/images/members/maxime_teneur_nb.jpg') }}" alt="Maxime Teneur (La Netscouade)" width="90" height="120">
                </div>
                <h6>Maxime Teneur</h6>
                <p>Netscouade</p>
                <p><a href="https://twitter.com/latenaille">@latenaille</a></p>
            </li>
            <li>
                <div class="picture">
                    <span></span>
                    <img src="{{ asset('bundles/afsyfront/images/members/thomas_rabaix_nb.jpg') }}" alt="Thomas Rabaix (Ekino)" width="90" height="120">
                </div>
                <h6>Thomas Rabaix</h6>
                <p>Ekino</p>
                <p><a href="https://twitter.com/th0masr">@th0masr</a></p>
            </li>
            <li>
                <div class="picture">
                    <span></span>
                    <img src="{{ asset('bundles/afsyfront/images/members/xavier_gorse.jpg') }}" alt="Xavier Gorse (Elao)" width="90" height="120">
                </div>
                <h6>Xavier Gorse</h6>
                <p>Elao</p>
                <p><a href="https://twitter.com/xgorse">@xgorse</a></p>
            </li>
            <li>
                <div class="picture">
                    <span></span>
                    <img src="{{ asset('bundles/afsyfront/images/members/xavier_lacot_nb.jpg') }}" alt="Xavier Lacot (JoliCode)" width="90" height="120">
                </div>
                <h6>Xavier Lacot</h6>
                <p>JoliCode</p>
                <p><a href="https://twitter.com/xavierlacot">@xavierlacot</a></p>
            </li>
        </ul>

        <div class="mention">
            Symfony est une marque déposée de Fabien Potencier. Tous droits réservés. - <a href="https://github.com/afsy/website">Forkez moi sur github</a> - Gracieusement hébergé par <a href="http://www.synalabs.com/">Synalabs</a>
        </div>
    </div>
</footer>
