<footer>
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="members">
                    <li>
                        <img src="{{ asset('bundles/afsyfront/images/members/fabrice_bernhard_nb.jpg') }}" alt="Fabrice Bernhard (Théodo)" width="90" heigh="120">
                    </li>
                    <li>
                        <img src="{{ asset('bundles/afsyfront/images/members/hugo_hamon_nb.jpg') }}" alt="Hugo Hamon (SensioLabs)" width="90" heigh="120">
                    </li>
                    <li>
                        <img src="{{ asset('bundles/afsyfront/images/members/maxime_teneur_nb.jpg') }}" alt="Maxime Teneur (La Netscouade)" width="90" heigh="120">
                    </li>
                    <li>
                        <img src="{{ asset('bundles/afsyfront/images/members/thomas_rabaix_nb.jpg') }}" alt="Thomas Rabaix (Ekino)" width="90" heigh="120">
                    </li>
                    <li>
                        <img src="{{ asset('bundles/afsyfront/images/members/xavier_gorse.jpg') }}" alt="Xavier Gorse (Elao)" width="90" heigh="120">
                    </li>
                    <li>
                        <img src="{{ asset('bundles/afsyfront/images/members/xavier_lacot_nb.jpg') }}" alt="Xavier Lacot (JoliCode)" width="90" heigh="120">
                    </li>
                </ul>
            </div>
        </div>
        <div class="mention">
            Symfony est une marque déposée de Fabien Potencier. Tous droits réservés.
            <br />
            <a href="https://github.com/afsy/website">Forkez moi sur github</a>
        </div>
    </div>
</footer>
