<footer>
    <div class="container">

        <ul class="members large-block-grid-6 text-center">
            <li>
                <div class="picture">
                    <span></span>
                    <img src="{{ asset('bundles/afsyfront/images/members/fabrice_bernhard_nb.jpg') }}" alt="Fabrice Bernhard (Théodo)" width="90" height="120">
                </div>
                <p class="name">Fabrice Bernhard</p>
                <p>Théodo</p>
                <p><a href="#">@twitter</a></p>
            </li>
            <li>
                <div class="picture">
                    <span></span>
                    <img src="{{ asset('bundles/afsyfront/images/members/hugo_hamon_nb.jpg') }}" alt="Hugo Hamon (SensioLabs)" width="90" height="120">
                </div>
                <p class="name">Hugo Hamon</p>
                <p>SensioLabs</p>
                <p><a href="#">@twitter</a></p>
            </li>
            <li>
                <div class="picture">
                    <span></span>
                    <img src="{{ asset('bundles/afsyfront/images/members/maxime_teneur_nb.jpg') }}" alt="Maxime Teneur (La Netscouade)" width="90" height="120">
                </div>
                <p class="name">Maxime Teneur</p>
                <p>Netscouade</p>
                <p><a href="#">@twitter</a></p>
            </li>
            <li>
                <div class="picture">
                    <span></span>
                    <img src="{{ asset('bundles/afsyfront/images/members/thomas_rabaix_nb.jpg') }}" alt="Thomas Rabaix (Ekino)" width="90" height="120">
                </div>
                <p class="name">Thomas Rabaix</p>
                <p>Ekino</p>
                <p><a href="#">@twitter</a></p>
            </li>
            <li>
                <div class="picture">
                    <span></span>
                    <img src="{{ asset('bundles/afsyfront/images/members/xavier_gorse.jpg') }}" alt="Xavier Gorse (Elao)" width="90" height="120">
                </div>
                <p class="name">Xavier Gorse</p>
                <p>Elao</p>
                <p><a href="#">@twitter</a></p>
            </li>
            <li>
                <div class="picture">
                    <span></span>
                    <img src="{{ asset('bundles/afsyfront/images/members/xavier_lacot_nb.jpg') }}" alt="Xavier Lacot (JoliCode)" width="90" height="120">
                </div>
                <p class="name">Xavier Lacot</p>
                <p>JoliCode</p>
                <p><a href="#">@twitter</a></p>
            </li>
        </ul>


        <div class="mention">
            Symfony est une marque déposée de Fabien Potencier. Tous droits réservés.
            <br />
            <a href="https://github.com/afsy/website">Forkez moi sur github</a>
        </div>
    </div>
</footer>
