{% extends 'layout.html.twig' %}

{% set header_expanded = false %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/afsyfront/css/prism.css') }}"/>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/afsyfront/js/prism.js') }}"></script>
{% endblock javascripts %}

{% block atom_feed %}
    <link rel="alternate" type="application/atom+xml" title="AFSY - tous les articles" href="{{ url('feed_atom') }}"/>
    <link rel="alternate" type="application/atom+xml" title="AFSY - calendrier de l'avent {{ year }}" href="{{ url('avent_feed_atom', { year: year}) }}"/>
{% endblock %}

{% block page_title %}
    {{- "- calendrier de l'avent " ~ year ~ " - " ~ block('article_title') -}}
{% endblock %}

{% block article_date %}
    <div class="calendar_date">
        <p title="{{ day }} décembre {{ year }}">{{ day }} <span>Décembre</span></p>
    </div>
{% endblock %}

{% block article_date_atom %}{{ day }}/12/{{ year }}{% endblock %}

{% set header_extra %}
    <section class="presentation">
        <div class="container row">
            <h3><a href="{{ path('avent', {year: year}) }}">Calendrier de l'avent de l'Afsy {{ year }}</a></h3>
        </div>
    </section>

    {{ include('avent/_snow.html.twig') }}
{% endset %}

{% block body %}
    <ul class="avent-navigation">
        <li class="prev">
            {% if prev_slug %}
                <a href="{{ path('avent_day', {year: year, slug: prev_slug}) }}">&lt; {{ prev.renderBlock('article_title', {}) }}</a>
            {% else %}
                &nbsp;
            {% endif %}
        </li>

        <li class="up">
            <a href="{{ path('avent', {year: year}) }}">Revenir à la liste complète des articles {{ year }}</a>
        </li>

        <li class="next">
            {% if next_slug %}
                <a href="{{ path('avent_day', {year: year, slug: next_slug}) }}">{{ next.renderBlock('article_title', {}) }} &gt;</a>
            {% else %}
                &nbsp;
            {% endif %}
        </li>
    </ul>

    <hr />

    <div class="avent-article">
        <a href="{{ url('avent_day', {year: year, slug: slug}) ~ '#disqus_thread'}}" data-disqus-identifier="{{ 'avent-' ~  day ~ '-' ~ year }}">Commentaires</a>

        {% block article_content %}
            <p>bla bla</p>
            <p>bla bla</p>
            <p>bla bla</p>
            <p>bla bla</p>
            <p>bla bla</p>
            <p>bla bla</p>
            <p>bla bla</p>
            <p>bla bla</p>
            <p>bla bla</p>
            <p>bla bla</p>
            <p>bla bla</p>
        {% endblock %}
    </div>
    <hr />
    <div class="avent-author-block">
        <div class="date">
            {% with {'day': day} %}
                {{ block('article_date') }}
            {% endwith %}
        </div>

        <div class="avatar">
            {% block article_avatar %}
                <img src="{{ asset('bundles/afsyfront/images/avent/avatar-empty.png') }}" />
            {% endblock %}
        </div>

        <div class="content">
            {% block article_bio %}
                <h2><a href="{% block author_url '#' %}">{% block article_author 'Prénom Nom' %}</a></h2>
                <p>Ceci est une petite bio pour permettre à l\'auteur de parler de lui et de sa boîte.</p>
                <p>Il pourra aussi partager ses passions, il pourra <a href="#">mettre des liens</a>...</p>
                <marquee>voir même des &lt;marquee&gt;</marquee>
            {% endblock %}
        </div>
    </div>
    {# disqus integration - Simple copy/paste from disqus #}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'afsy'; // required: replace example with your forum shortname
        var disqus_identifier = '{{ 'avent-' ~  day ~ '-' ~ year }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        //Counter on top article
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());

    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {# end disqus #}

{% endblock %}
