{% spaceless %}

<article class="row">
    <div class="large-4 columns">
            {{ article.map | raw }}
    </div>

    <div class="large-6 columns sf-event">
        <h3 class="museo"><a href="{{ url('blog_show', {'slug': article.slug}) }}">{{ article.title }}</a></h3>
        <p class="date">publié le {{ article.publishedAt | localizeddate('long', 'none') }}</p>

        {{ article.body | raw }}

        {% if article.eventUrl %}
            <p>
                <a class="btn" href="{{ article.eventUrl }}">Inscription gratuite &raquo;</a>
            </p>
        {% endif %}

        <ul class="tags">
            {% for tag in article.tags %}
                <li>
                    <a href="{{ url('blog_show_tag', {'name': tag.name}) }}" title="{{ tag.name }}">{{ tag.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</article>

{% endspaceless %}
