{% spaceless %}

<article class="row">
    <div class="large-4 columns">
        {{ article.map | raw }}
        <address>
            {{ article.address | nl2br }}
        </address>
    </div>

    <div class="large-8 columns sf-event">
        <header class="row">
            <div class="large-9 columns">
                <h3 class="museo"><a href="{{ url('blog_show', {'slug': article.slug}) }}">{{ article.title }}</a></h3>
                <p class="date"><i class="icon-time-grey"></i>publié le {{ article.publishedAt | localizeddate('long', 'none') }}</p>
            </div>
            <div class="large-3 columns">
                {% if article.eventUrl %}
                    <a class="btn" href="{{ article.eventUrl }}">Inscription gratuite <i class="icon-arrow-white"></i></a>
                {% endif %}
            </div>
        </header>

        {{ article.body | raw }}

        <ul class="tags list-horizontal">
            {% for tag in article.tags %}
                <li>
                    <a href="{{ url('blog_show_tag', {'name': tag.name}) }}" title="{{ tag.name }}">{{ tag.name }}</a>
                </li>
            {% endfor %}
        </ul>

    </div>

</article>

{% endspaceless %}
