{% spaceless %}

<article class="row">
    <div class="large-4 columns">
        {{ article.map | raw }}

        {% if article.address %}
            <address>
                {{ article.address | nl2br }}
            </address>
        {% endif %}

        {% if article.eventUrl and not article.eventStarted %}
            <div>
                <a class="btn register" href="{{ article.eventUrl }}">Inscription gratuite <i class="icon-arrow-white"></i></a>
            </div>
        {% endif %}
    </div>

    <div class="large-8 columns sf-event">
        <header>
            <h3 class="museo"><a href="{{ url('blog_show', {'slug': article.slug}) }}">{{ article.title }}</a></h3>
            <p class="date"><i class="icon-time-grey"></i>le {{ article.eventDate | localizeddate('long', 'short', null, null, "dd/MM/yyyy 'à' HH:mm") }} (annoncé le {{ article.publishedAt | localizeddate('long', 'none') }})</p>
        </header>

        {{ article.body | raw }}

        <ul class="tags list-horizontal">
            {% for tag in article.tags %}
                <li>
                    <a href="{{ url('blog_show_tag', {'name': tag.name}) }}" title="{{ tag.name }}">{{ tag.name }}</a>
                </li>
            {% endfor %}
        </ul>

    </div>

</article>

{% endspaceless %}
