{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/afsyadmin/css/jquery.tagit.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/afsyadmin/css/admin.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/afsyadmin/js/js-markdown-extra.js') }}"></script>
    <script src="{{ asset('bundles/afsyadmin/js/admin.js') }}"></script>
    <script src="{{ asset('bundles/afsyadmin/js/epiceditor.js') }}"></script>
    <script src="{{ asset('bundles/afsyadmin/js/tag-it.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block top_bar_after_nav %}
    <li>
        <a href="{{ path('homepage') }}">Back to the website</a>
    </li>
{% endblock %}
