<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset("css/reset.css") }}" rel="stylesheet">
            <link href="{{ asset("css/global.css") }}" rel="stylesheet">
            <link href="{{ asset("css/layout.css") }}" rel="stylesheet">
            <link href="{{ asset("css/common.css") }}" rel="stylesheet">
            <link href="{{ asset("css/app.css") }}" rel="stylesheet">
            <link href="{{ asset("css/grid.css") }}" rel="stylesheet">
            <link href="{{ asset("css/icons.css") }}" rel="stylesheet">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
